<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="section genflex ff acco">
    <div class="genflex w30 bk-image ac-b ac im3 accopan">
      <h5>Culture Creatives</h5>
    </div>
    <div class="genflex w30 bk-image ac-b ac im4 accopan">
      <h5>Policy Research</h5>
    </div>
    <div class="genflex w30 bk-image ac-b ac im5 accopan">
      <h5>Leadership Development</h5>
    </div>
  </div>
</body>
</html>