<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="section genflex col ff ac bk-white post ee">
    <h4>Latest Essays at Dhīti, our Blog</h4>
    <div class="genflex w100 spread row">
        <div class="w25 card">
        <div class="imager post1">
          <cite>category</cite>
        </div>
        <div class="textpost">
        <h5>title of post</h5>
        <p>description of post</p>
        <small>authors of post</small>
        </div>
        </div>
        <div class="w25 card">
        <div class="imager post1">
          <cite>category</cite>
        </div>
        <div class="textpost">
        <h5>title of post</h5>
        <p>description of post</p>
        <small>authors of post</small>
        </div>
        </div>
        <div class="w25 card">
        <div class="imager post1">
          <cite>category</cite>
        </div>
        <div class="textpost">
        <h5>title of post</h5>
        <p>description of post</p>
        <small>authors of post</small>
        </div>
        </div>
        <div class="w25 card">
        <div class="imager post1">
          <cite>category</cite>
        </div>
        <div class="textpost">
        <h5>title of post</h5>
        <p>description of post</p>
        <small>authors of post</small>
        </div>
        </div>
    </div>
  </div>
</body>
</html>