<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="genflex ff b-b">
    <div class="genflex col p3 w50 dd h70 ac bk-white">
      <h4>The Scrolls of Āryavarta</h4>
      <p>Dhārmika lore, narrative and fiction- catering to our cultural yearnings for a Bhārata that once-was,
        and some of those that could-have-been.<br><br>Scrolls of Āryavarta is a project combining AI-rendered
        art with narrative storytelling to take us beyond time to a places we've all been to- but not in this
        lifetime.<br><br>
        The first chapter is a collaboration with The Emissary that takes us into the mind of a ṛṣi with a
        familiar name.</p>
      <div class="type2"><button>Explore</button></div>
    </div>
    <div class="genflex col w50 bb h30 bk-image im1">
    </div>
  </div>
</body>
</html>