.htmlbox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  width: 88%;
}

@media screen and (min-width: 1024px) {
  .htmlbox {
    padding: 4rem 4rem 4rem 6.4rem;
    margin: 2rem;
  }

  .htmlbox p {
    font-size: 1.24rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .htmlbox {
    padding: 3.2rem 3.2rem 3.2rem 4.8rem;
    margin: 2rem;
  }

  .htmlbox p {
    font-size: 1.24rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .htmlbox {
    padding: 1rem;
    margin: 1rem;
  }
  .htmlbox p {
    font-size: 1.124rem;
  }
}

@media screen and (max-width: 414px) {
  .htmlbox {  
    margin: 1rem;
    padding: 1rem;
  }
  .htmlbox p {
    font-size: 1.124rem;
  }
}