.layout {
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toggler {
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  color: #878787;
}

.light {
  background-color: #ffffff;
  color: #272727;
}

.bod {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {

.toggler {
  margin-left: 32px;
  padding: 12px 0;
}

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  .toggler {
    margin-left: 32px;
    padding: 12px 0;
  }

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  .toggler {
    margin-left: 32px;
    padding: 12px 0;
  }

}

@media screen and (max-width: 640px) {

  .toggler {
    margin-left: 32px;
    padding: 12px 0;
  }

}
