.mother {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.fullfullcol {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 128px;
}

.mother li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  line-height: 2rem;
  transition: all 0.3s ease-out;
  width: max-content;
  transform-origin: center left;
}

.mother li a {
  text-decoration: none;
  color: #c1c1c1;
  position: relative;
  transition: all 0.3s ease-out;
}

.mother li a:hover {
  color: white;
}

.mother li:hover {
  transform: scale(0.9);
  box-shadow: 3px 4px 8px #212121;
}

.mother li a::after {
  position: absolute;
  height: 100%;
  width: 0%;
  content: '';
  top: 0;
  left: 0;
  border-bottom: 1px solid #53dd6c;
}

.mother li a:hover::after {
  animation: headingline 0.17s ease-out forwards;
}

@keyframes headingline {
  0% {
    width: 0%;
    margin-left: 50%;
  }
  100% {
    width: 100%;
    margin-left: 0%;
  }
}

.mother ul {
  height: 560px;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
}

.mother ul::-webkit-scrollbar {
  width: 8px;
}

.mother ul::-webkit-scrollbar-thumb:hover {
  background: #53dd6c; 
}

.child {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.searchbox {
  background-color: #272727;
  border: 1px solid #878787;
  border-radius: 4px;
  height: 32px;
  width: 88%;
  padding: 2px 8px;
  margin-bottom: 32px;
}

.searchoutput {
  width: 100%;
  height: 100%;
  font-size: 16px;

}

.fillera, .fillerb {
  width: 100%;
  height: 100%;
  display: flex;
}

@media screen and (min-width: 900px) {

  .mother {
    flex-direction: column;
    padding: 128px 32px 128px 32px;
    min-height: 100vh;
  }

  .fullfullcol {
    width: 100vw;

  }

.child {
  width: 75vw;
  padding-left: 4vw;
  padding-right: 10vw;
  margin-left: 24vw;
}

.child p {
  width: 88%;
}

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  .mother {
    flex-direction: row;
    padding: 128px 32px 128px 32px;
    min-height: 100vh;
  }

  .child {
    width: 75vw;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 24vw;
  }

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  .mother {
    flex-direction: column-reverse;
    padding: 128px 32px 128px 32px;
    height: max-content;
  }
  
  .child {
    width: 92vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 0vw;
    margin-top: 32px;
  }

}

@media screen and (max-width: 640px) {

  .mother {
    flex-direction: column-reverse;
    padding: 128px 32px 128px 32px;
    height: max-content;
  }

  .child {
    width: 90vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 0vw;
    margin-top: 32px;
  }

}
