@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 998;
  height: 100%;
  transition: all 0.3s ease-out;
  border-right:1px solid #414141;
  box-sizing: border-box;
}

.sidenav a {
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 900px) {

.sidenav {
  width: 18vw;
  padding: 128px 8px 32px 32px;
}

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  .sidenav {
    width: 18vw;
    padding: 128px 8px 32px 32px;
  }

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  .sidenav {
    width: 20vw;
    padding: 104px 8px 32px 24px;
  }

}

@media screen and (max-width: 640px) {

  .sidenav {
    width: 100vw;
    padding: 88px 8px 32px 16px;
  }

}
