.sidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 998;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}

.sidenav a {
  color: inherit;
  text-decoration: inherit;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 300;
}

@media screen and (min-width: 900px) {

.sidenav {
  width: 22vw;
  padding: 128px 8px 32px 32px;
  border-right:1px solid #414141;
  height: 96vh;
  margin-top: 0;
}

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  .sidenav {
    width: 24vw;
    padding: 128px 8px 32px 32px;
    border-right:1px solid #414141;
  }

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  .sidenav {
    width: 100vw;
    padding: 104px 8px 32px 24px;
    height: max-content;
    background-color: #272727;
    text-align: center;
  }

}

@media screen and (max-width: 640px) {

  .sidenav {
    width: 100vw;
    padding: 88px 16px 16px 16px;
    height: max-content;
    background-color: #272727;
    text-align: center;
  }

}
