.sidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}

.sidenav li {
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin: 0 0 2px 0;
  padding: 0;
  color: #878787;
  transition: all 0.22s cubic-bezier(0.610, 0.000, 0.995, 0.080);
  transform-origin: center left;
  cursor: pointer;
}

.sidenav li:hover {
  transform: translatex(16px);
  color: #53cc6d;
}

.sidenav a {
  color: inherit;
  text-decoration: inherit;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0 4px 0;
  color: #a7a7a7;
}

@media screen and (min-width: 900px) {

.sidenav {
  width: 20vw;
  padding: 104px 8px 32px 32px;
  border-right:1px solid #414141;
  height: 96vh;
  margin-top: 0;
}

.sidenav p {
  margin: 24px 0 0 0;
  padding: 0;
  font-weight: bold;
}

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  .sidenav {
    width: 24vw;
    padding: 128px 8px 32px 32px;
    border-right:1px solid #414141;
  }

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  .sidenav {
    display: none;
  }

}

@media screen and (max-width: 640px) {

  .sidenav {
    display: none;
  }

}
