@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.warning {
  color: #ffffff;
  animation: blinker 3s infinite forwards;
  width: 100%;
  background-color: #fe4a49;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

@keyframes blinker {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

.soamain {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #171717;
}

.soamain a {
  color: white;
}

.soacontainer {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
}

.soamain h1 {
  box-sizing: border-box;
  padding: 24px 0 0 0;
  margin: 0;
  font-family: 'Linden Hill',serif;
  text-align: center;
}

.soamain small {
  box-sizing: border-box;
  font-family: 'Linden Hill',serif;
  text-transform: uppercase;
  margin-top: 8px;
  padding-top: 0;
  color: #DDBB07;
  text-align: center;
}

.soabody {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  height: 100%;
  border: 1px solid #474747;
  background-color: #171717;
  border-radius: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 12px 0;
  line-height: 1em;
  margin-top: 8px;
}

.maingallerylink {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 1px solid #474747;
  font-family: 'Inter Tight',sans-serif;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: #DDBB07;
  margin-top: 16px;
}

.maingallerylink a {
  color: #272727;
}

.soabody:hover .listing {
  display: block;
  box-shadow: 5px 5px 12px #070707, -6px -4px 10px #171717;
}

.soabody button {
  font-family: 'Inter Tight',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.hover {
  text-align: center;
  width: 100%;
}

.listing {
  display: none;
  position: absolute;
  background-color: #212121;
  margin-top: 16px;
  z-index: 1;
  transition: all 0.2s ease-out;
  width: 100%;
}

.listing a {
  font-family: 'Inter Tight',sans-serif;
  font-size: 14px;
  border: 0px;
  text-transform: uppercase;
  line-height: 2em;
  margin: 0;
  padding: 4px 0 0 0;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.14s ease-out;
}

.listing a:hover {
  color: #DDBB07;
  background-color: #171717;
  box-shadow: 2px 2px 6px #070707, -2px -2px 5px #111111;
}

.spacer {
  height: 32px;
}

.rowline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  background-color: #171717;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 100%;
}

.imagescontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #171717;
  box-sizing: border-box;
  padding: 16px 16px 80px 16px;
  align-items: center;
}

.herobox {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease-in;
  transform-origin: center center;
  box-sizing: border-box;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
}

.heroboxlinked {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in;
  transform-origin: center center;
  box-sizing: border-box;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.heroboxinner {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  transition: all 0.3s ease-in;
  transform-origin: center center;
  box-sizing: border-box;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.herobox p {
  font-family: 'Linden Hill',serif;
  font-size: 18px;
  padding: 0;
  color: #474747;
  text-align: center;
}

.heroboxlinked p {
  font-family: 'Inter Tight',sans-serif;
  padding: 0;
  color: #474747;
  text-align: center;
}

.heroboxinner p {
  font-family: 'Inter Tight',sans-serif;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-bottom: 8px;
  font-weight: bold;
}

.herobox:hover p, .heroboxlinked:hover p {
  color: white;
}

.herobox:hover, .heroboxlinked:hover {
  width: 300px;
  height: 300px;
}

.actualimage {
  transition: all 0.3s ease-in;
  transform-origin: center center;
  border: 2px solid #313131;
  padding: 8px;
  object-fit: cover;
}

.innerimage {
  transition: all 0.3s ease-in;
  transform-origin: center center;
  border: 2px solid #313131;
  padding: 8px;
}

.herobox:hover .actualimage:hover {
  width: 300px;
  height: 300px;
  border: 2px solid white;
}

.heroboxlinked:hover .actualimage:hover {
  width: 300px;
  height: 300px;
  border: 2px solid white;
}

.imagescontainer h4 {
  font-family: 'Linden Hill',serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #DDBB07;
}

.theliner {
  height: 1px;
  width: 50%;
  background-color: white;
}

.theliner22 {
  height: 40px;
  width: 72%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.heading5 {
  font-family: 'Inter Tight',sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.12s ease-out;
  color: white;
}

.heading5 a {
  color: white;
  transition: all 0.12s ease-out;
  transform-origin: center center;
}

.heading5 a:hover {
  color: #DDBB07;
  transform: scale(0.9);
}

.enderspace {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enderspace a {
  font-family: 'Inter Tight',serif;
  color: #DDBB07;
  transition: all 0.11s ease-in;
  transform-origin: center center;
}

.enderspace a:hover {
  transform: scale(1.2);
}

.subtitle {
  margin-bottom: -12px;
  margin-top: 32px;
  font-family: 'Inter Tight',serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-top: 4px;
  border-top: 1px solid #DDBB07;
  width: 72%;
  text-align: center;
}

.seperating {
  width: 100%;
  height: 16px;
}

.gallerycontainer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}

.renders {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.rendergrid {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.singlebox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 8px 32px 0 32px;
}

.basicrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.basiccol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
}

.basiccol p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.thebigfetch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding-bottom: 32px;
}

.imgnum {
  font-size: 12px;
}

.prompt {
  font-size: 14px;
  text-align: justify;
}

.promptlabel {
  font-size: 12px;
  color: #474747;
}

.prompter p {
  color: white;
}

.theimage {
  transform-origin: center center;
  transition: all 0.3s ease;
  object-fit: cover;
}

.theimage:hover {
  transform: scale(2);
}

.soaguidearea {
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #474747;
  border-radius: 8px;
  padding: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.soaguidearea h5 {
  font-size: 18px;
  font-weight: bold;
  border: 0px;
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}

.soafooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #474747;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.soafooter a {
  color: #DDBB07;
}

.soafooter h4 {
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  color: #575757;
  text-align: center;
}

.soafooter p {
  padding: 0;
  font-size: 12px;
  color: #575757;
}

@media screen and (min-width: 769px) {
  .soamain { padding: 20px 80px;}
  .soamain h1 { font-size: 48px;}
  .soamain small { font-size: 12px;}
  .warning {font-size: 16px;}
  .soabody, .maingallerylink {width: 20vw;}
  .soabody button, .maingallerylink {font-size: 16px;}
  .heroboxlinked { width: 200px; height: 200px; }
  .heroboxlinked p {font-size: 16px;}
  .imagescontainer h4 {font-size: 24px;}
  .basicrow {width: 88%;}
  .rendergrid {width: 25%;}
  .soafooter { padding: 8px; height: 100px;}
  .soafooter p {text-align: center;}

}

@media screen and (max-width: 768px) {
  .soamain { padding: 20px 24px;}
  .soamain h1 { font-size: 32px;}
  .soamain small { font-size: 12px;}
  .warning {font-size: 14px;}
  .soabody, .maingallerylink { width: 72vw;}
  .soabody button, .maingallerylink {font-size: 14px;}
  .basiccol p {margin-bottom: 4px;}
  .heroboxlinked { width: 300px; height: 320px; margin-top: 24px;}
  .heroboxlinked p {font-size: 16px !important;}
  .heroboxlinked a {font-size: 24px;}
  .imagescontainer h4 {font-size: 18px; margin-bottom: 2px;}
  .imagescontainer p {font-size: 12px; margin-top: 0; padding-top: 0; text-align: center; padding-bottom: 8px; width: 72%;}
  .heroboxinner p {padding-bottom: 0;}
  .basicrow {width: 100%;}
  .rendergrid {width: 100%;}
  .soafooter { padding: 24px; height: 160px;}
  .soafooter h4 {margin-bottom: 8px;}
  .soafooter p {text-align: center;}
}