@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');

.soamain {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 80px;
  background-color: #171717;
}

.soacontainer {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #171717;
}

.soamain h1 {
  box-sizing: border-box;
  padding: 24px 0 0 0;
  margin: 0;
  font-family: 'Linden Hill',serif;
}

.soamain small {
  box-sizing: border-box;
  font-family: 'Linden Hill',serif;
  text-transform: uppercase;
  margin-top: 8px;
  padding-top: 0;
  color: #DDBB07;
}

.soabody {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20vw;
  height: 100%;
  border: 1px solid #474747;
  background-color: #171717;
  border-radius: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 12px 0;
  line-height: 1em;
  margin-top: 8px;
}
.soabody:hover .listing {
  display: block;
  box-shadow: 5px 5px 12px #070707, -6px -4px 10px #171717;
}

.soabody button {
  font-size: 16px;
  font-family: 'Linden Hill',serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.hover {
  text-align: center;
  width: 100%;
}

.listing {
  display: none;
  position: absolute;
  background-color: #212121;
  margin-top: 16px;
  z-index: 1;
  transition: all 0.2s ease-out;
  width: 100%;
}

.listing a {
  font-family: 'Linden Hill',serif;
  font-size: 18px;
  border: 0px;
  text-transform: uppercase;
  line-height: 2em;
  margin: 0;
  padding: 4px 0 0 0;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.listing a:hover {
  color: #DDBB07;
  background-color: #171717;
}

.spacer {
  height: 32px;
}

.rowline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  background-color: #171717;
  margin-top: 16px;
  margin-bottom: 16px;
}

.imagescontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #171717;
  box-sizing: border-box;
  padding: 16px 16px 80px 16px;
}

.herobox {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease-in;
  transform-origin: center center;
  box-sizing: border-box;
  padding: 8px;
  justify-content: start;
  align-items: center;
}

.heroboxlinked {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease-in;
  transform-origin: center center;
  box-sizing: border-box;
  padding: 8px;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.herobox p, .heroboxlinked p {
  font-family: 'Linden Hill',serif;
  font-size: 18px;
  padding: 0;
}

.herobox:hover, .heroboxlinked:hover {
  width: 300px;
  height: 300px;
}

.actualimage {
  transition: all 0.3s ease-in;
  transform-origin: center center;
  border: 2px solid white;
}

.herobox:hover .actualimage:hover {
  width: 300px;
  height: 300px;
}

.heroboxlinked:hover .actualimage:hover {
  width: 300px;
  height: 300px;
}
