.mother {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.w20-80 {
  width: 20vw;
  height: 80vh;
  margin: 0;
  padding: 0;

}

.w80-100 {
  width: 80vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ff {
height: 100vh;
width: 100vw;
}

.ff-percent {
  width: 100%;
  height: 100%;
}

.cc {
  justify-content: center;
  align-items: center;
}

.bk-black {
  background-color: #222222;
}

.bk-white {
  background-color: #f1f1f1;
}

.bk-green {
  background-color: #2ADD5A;
}

.bk-red {
  background-color: #fe4a49;
}

.bdr-a {
  border-right: 8px solid #2ADD5A;
}

.bdr-b {
  border-right: 8px solid #30D2FF;
}

.bdr-c {
  border-right : 8px solid #FF9E3D;
}

.bdr-d {
  border-right: 8px solid #FF3232;
}

.wff {
  width: 100vw;
}

.h56px {
  height: 56px;

}

.per100hff {
  width: 100%;
  height: 100vh;
}