@import url('palettes.css');

.type0 button {
  background-color: #fe4a49;
  color: white;
  transition: all 0.17s var(--snap);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem 0;
}

.type0 button:hover {
  transform: scale(0.9);
  border-radius: 16px;
  background-color: #BB3D52;
}

.type1 button {
  background-color: #007CBE;
  color: white;
  transition: all 0.17s var(--snap);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem 0;
}

.type1 button:hover {
  transform: scale(0.9);
  border-radius: 16px;
  background-color: #2364AA;
}

.type2 button {
  background-color: #ff3d00;
  color: white;
  transition: all 0.17s var(--snap);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem 0;
}

.type2 button:hover {
  transform: scale(0.9);
  border-radius: 16px;
  background-color: #ff1d00;
}

@media screen and (max-width: 640px) {

  .type1 button, .type0 button, .type2 button {
    font-size: 14px;
  }

}