:root {
  --grey: #919191;
  --dgrey: #474747;
  --lgrey: #d7d7d7;
  --blue: #007CBE;
  --bluedd: #004A72;
  --red: #fe4a49;
  --orng: #10C56D;
  --yell: #F6AE2D;
  --slate: #FFFCF9;
  --bgreen: #698F3F;
  --green: #10c56d;
  --near: #f7f7f7;
  --viol: #2364AA;
}




.bk-black {
  background-color: #272727;
  color: white;
}

.bk-white {
  background-color: #fdfdfd;
}

.bk-white h1, .bk-white h2, .bk-white h3, .bk-white h4, .bk-white h5, .bk-white h6, .bk-white p {
  color: #272727;
} 

.bk-green {
  background-color: #16db65;
}

.gr-green {
  background: linear-gradient(180deg, #06C15C, #79F23F);
  animation: therotator 6s ease-in infinite;
}

.bk-yell {
  background-color: #f4d35e;
}

.bk-blue {
  background-color: #00a6fb;
}

.bk-red {
  background-color: #fe4a49;
}

.f-white {
  color: #ffffff;
}

.f-black {
  color: #272727;
}

.f-red {
  color: #fe4a49;
}

.f-grey {
  color: #878787;
}

.f-dark {
  color: #474747;
}

.f-org {
  color: #ff3d00;
}

.f-blue {
  color: #007CBE;
}