@import url('palettes.css');
@import url('variables.css');
@import url('typography.css');

body, div {
  margin: 0;
}

.bdr {
  border: 2px solid red;
}

.stretch {
  justify-content: space-evenly;
}

.genflex {
  display: flex;
}

.genflex.ff {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.genflex.row {
  flex-direction: row;
}

.genflex.col {
  flex-direction: column;
}

.genflex.w60 {
  width: 60%;
}

.box {
  display: flex;
  width: 100%;
  padding: 8%;
  flex-direction: column;
}

.cc {
  justify-content: center;
  align-items: center;
}

.bk-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {

.genflex {
  flex-direction: column;
}

.genflex.b {
  height: 50vh;
}

}

