@import url('./primitive/typography.css');
@import url('./primitive/palettes.css');
@import url('./primitive/components.css');


html, body {
  background-color: #ffffff;
  color: #272727;
  font-weight: 300;
}

.dark-mode {
  background-color: #272727;
  color: white;
}

.kill {
  display: none;
}

.hide {
  opacity: 0;
}

ul, li, ol {
  list-style: none;
}

.bdr {
  border: 1px solid red;
}

:root {
--slowhiss: cubic-bezier(0.445, 0.050, 0.550, 0.950);
--snap: cubic-bezier(1.000, 0.020, 0.975, 0.250);
}

.bk-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/****************************************************************************************************************
BOXES 
****************************************************************************************************************/

.genflex {
  display: flex;
  margin: 0;
  padding: 0;
}

.genflex.row {
  flex-direction: row;
}

.genflex.col {
  flex-direction: column;
}

.genflex.p4 {
  padding: 4rem;
}

.genflex.p3 {
  padding: 2.8rem;
}

.genflex.cc {
  justify-content: center;
  align-items: center;
  padding: 0;
}

.genflex.spread {
  justify-content: space-evenly;
}


/****************************************************************************************************************
ACCORDION
****************************************************************************************************************/


.accopan {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  position: relative;

}

.accopan::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  content: '';
  transition: all 0.6s ease-out;
}

.acco:hover .accopan {
  width: 25vw;
}

.acco:hover .accopan:hover {
  width: 50vw;
}

.accopan:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.accopan h5 {
  z-index: 1;
  margin-bottom: 64px;
  transition: all 0.6s ease-out;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  transform-box: fill-box;
  transform-origin: top center;
  color: white;
}

.accopan:hover h5 {
  transform: translatey(-120px);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  border: 1px solid white;

}

.accopan h5:hover {
  background: #fe4a49;
}

@media screen and (max-width: 768px) {

  .acco:hover .accopan {
    height: 25vh;
    width: 100vw;
  }

  .acco:hover .accopan:hover {
    height: 50vh;
    width: 100vw;
  }

  .accopan {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    height: 33.33vh;
  }

}



/****************************************************************************************************************
STYLERS
****************************************************************************************************************/

.ff {
  width: 100vw;
  height: 100vh;
}

.w100 {
  width: 100vw;
}

.w90 {
  width: 90%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 33.33vw;
}

.w25 {
  width: 22vw;
}

.h100, .h70, .h30 {
  height: 100vh;
}

.h100-70 {
  height: 100vh;
}


.cc {
  justify-content: center;
  align-items: center;
}

.ac {
  justify-content: center;
}

.jc {
  align-items: center;
}

.ac-b {
  align-items: end;
}

.b-b {
  border-bottom: 1px solid #d7d7d7;
}

.m-b16 {
  margin-bottom: 16px;
}

.p2 {
  padding: 2rem;
}

.ps2 {
 padding-left: 2rem;
 padding-right: 2rem;
}

.ps4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3.2rem;
}

.pl4 {
  padding-left: 4rem;
}


/****************************************************************************************************************
SMALL
****************************************************************************************************************/
@media screen and (max-width: 768px) {

  .genflex {
    flex-direction: column;
  }

  .genflex.revv {
    flex-direction: column-reverse;
  }

  .post {
    min-height: 100vh;
    overflow-y: scroll;
  }
  
  .genflex.col.ff {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .genflex.row.ff {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .genflex.col.revv {
    flex-direction: column-reverse;
  }
  
  .genflex.row {
    flex-direction: column;
  }
  
  .genflex.w50 {
    width: 100vw;
  }
  
  .genflex.w30 {
    width: 100vw;
    height: 33vh;
  }
  
  .genflex.h70 {
    height: 70vh;
    width: 100vw;
  }
  
  .genflex.h30 {
    height: 30vh;
    width: 100vw;
  }
  
  .genflex.p3 {
    padding: 1.6rem;
  }
  
  .card {
    width: 100vw;
    height: 80vh;
  }

  .w25 {
    width: inherit;
  }
  
  .h100-70 {
    height: 77vh;
    width: 100vw;
    margin: 0;
  }

  .h100-30 {
    height: 23vh;
    width: 100vw;
    margin: 0;
  }

  .ps4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .ps4 h4 {
    width: 88%;
  }
  
  
  }
  