@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #272727;
  color: white;
}

.col-g {
  color: #53dd6c;
}

.bod {
  margin: 0;
}

.swiper-slide { 
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  color: #272727;
  font-weight: 300;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  height: 100vh;
  transition-timing-function: cubic-bezier(0.580, 0.105, 0.940, 0.575);
}

.swiper {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.w20-80 {
  width: 20vw;
  height: 80vh;
  margin: 0;
  padding: 0;

}

.w80-100 {
  width: 80vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ff {
height: 100vh;
width: 100vw;
}

.ff-percent {
  width: 100%;
  height: 100%;
}

.cc {
  justify-content: center;
  align-items: center;
}

.bk-black {
  background-color: #171717;
}

.bdr-a {
  border-right: 8px solid #10c56c;
}

.bdr-b {
  border-right: 8px solid #30D2FF;
}

.bdr-c {
  border-right : 8px solid #FF9E3D;
}

.bdr-d {
  border-right: 8px solid #FF3232;
}


cite {
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.5px;
  font-family: var(--official);
}

small {
  font-size: 16px;
  margin: 0.5rem 0 .75rem 0;
  font-family: var(--official);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

p {
  letter-spacing: 0.5px;
  line-height: 1.4em;
  margin: 0;
  padding: 32px 0 0 0;
  color: #d7d7d7;
}

h6 {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0.5rem 0 .75rem 0;
  line-height: 1.25;
  font-family: 'STIX Two Text',serif;
}

h5 {
  font-weight: 500;
  line-height: 1.24;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'Inter Tight',serif;
  letter-spacing: 0.5px;
  border-left: 2px solid #53dd6c;
  padding-left: 32px;
}

h4 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0.5rem 0 .75rem 0;
  font-weight: 500;
  font-family: 'STIX Two Text',serif;
}

h3 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'STIX Two Text',serif;
}

h2 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'STIX Two Text',serif;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'STIX Two Text',serif;
}

.gen-h {
  background-color: #212121;
  box-sizing: border-box;
  padding: 8px;

}

.gen-h h5 {
  color: white;
}

@media screen and (min-width: 900px) {

  p { font-size: 1rem;}
  h5 { font-size: 1.32rem;}

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  p { font-size: 1rem;}
  h5 { font-size: 1.32rem;}
  h4 {font-size: 1.6rem; width: 100%;}

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  h1 { font-size: 6.4rem; }
  h2 { font-size: 4rem; }
  h3 { font-size: 2.8rem; }
  h4 { font-size: 1.56rem; }
  h5 { font-size: 1.32rem; }
  h6 { font-size: 1rem; }
  p { font-size: 1rem; }

}

@media screen and (max-width: 640px) {

 h1 { font-size: 3.2rem; }
 h2 { font-size: 2.4rem; }
 h3 { font-size: 2rem; }
 h4 { font-size: 1.32rem;}
 h5 { font-size: 1.32rem;}
 h6 { font-size: 15px; }
 p { font-size: 1rem; }
 small { font-size: 12px; }

}
