@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #272727;
  color: white;
}

a {
  color: #ff3d00;
  text-decoration: none;
}

.imager {
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 8px 8px 12px #111111;
  position: relative;
}

.imager::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content:'';
  background-color: rgba(0,0,0,0.7);
  border: 1px solid red;
  z-index: 3;
}

.col-g {
  color: #53dd6c;
}

.col-o {
  color: #ff3d00;
}

.bod {
  margin: 0;
}

.swiper-slide { 
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  color: #272727;
  font-weight: 300;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  height: 100vh;
  transition-timing-function: cubic-bezier(0.580, 0.105, 0.940, 0.575);
}

.swiper {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.w20-80 {
  width: 20vw;
  height: 80vh;
  margin: 0;
  padding: 0;

}

.w80-100 {
  width: 80vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ff {
height: 100vh;
width: 100vw;
}

.ff-percent {
  width: 100%;
  height: 100%;
}

.cc {
  justify-content: center;
  align-items: center;
}

.bk-black {
  background-color: #171717;
}

.bdr-a {
  border-right: 8px solid #10c56c;
}

.bdr-b {
  border-right: 8px solid #30D2FF;
}

.bdr-c {
  border-right : 8px solid #FF9E3D;
}

.bdr-d {
  border-right: 8px solid #FF3232;
}


cite {
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.5px;
  font-family: var(--official);
}

small {
  font-size: 12px;
  margin: 0.5rem 0 .75rem 0;
  font-family: var(--official);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

p {
  letter-spacing: 0.5px;
  line-height: 1.64em;
  margin: 0;
  padding: 32px 0 0 0;
  color: #ffffff;
}

h6 {
  font-weight: 400;
  margin: 0;
  line-height: 1.25;
  font-family: 'Inter Tight',sans-serif;
  text-transform: uppercase;
}

h5 {
  font-weight: 500;
  line-height: 1.24;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'Inter Tight',serif;
  letter-spacing: 0.5px;
  border-left: 2px solid #53dd6c;
  padding-left: 32px;
}

h4 {
  margin: 0.5rem 0 .75rem 0;
  font-weight: 500;
  font-family: 'Inter Tight',sans-serif;
}

h3 {
  font-weight: 200;
  line-height: 1.1;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'Inter Tight',sans-serif;
}

h2 {
  font-weight: 200;
  line-height: 1;
  margin: 0.5rem 0 .75rem 0;
  font-family: 'Inter Tight',sans-serif;
}

h1 {

  line-height: 1;
  text-transform: uppercase;
  font-family: 'Inter Tight',sans-serif;
}

.gen-h {

  box-sizing: border-box;
  padding: 8px;

}

.gen-h h5 {
  color: white;
}

.titler {
  background-color: #212121;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  border-right: 2px solid #53dd6c;
  transition: all 0.16s ease-in;
}


@media screen and (min-width: 900px) {

  p { font-size: 1rem;}
  h6 { font-size: 12px;}
  h5 { font-size: 1.32rem;}
  h4 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h1 {
      font-size: 80px;
      font-weight: 700;
      margin: 0.5rem 0 .75rem 0;
  }
  .titler {
    width: max-content;
    padding: 16px 32px;
    box-shadow: 6px 5px 12px #171717;
  }

  .titler:hover {
    box-shadow: 6px 5px 12px #171717 inset;
  }

  .imager {
    width: 56%;
    margin-left: 30vw;
    margin-top: 128px;
  }

}

@media screen and (max-width: 899px) and (min-width: 769px) {

  p { font-size: 1rem;}
  h5 { font-size: 1.32rem;}
  h4 {font-size: 1.6rem; width: 100%;}
  h6 { font-size: 12px;}
  h3 {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0.5rem 0 .75rem 0;
}

  .titler {
    width: max-content;
    padding: 16px 32px;
    box-shadow: 6px 5px 12px #171717;
  }

  .titler:hover {
    box-shadow: 6px 5px 12px #171717 inset;
  }

}

@media screen and (max-width: 768px) and (min-width: 641px) {

  h1 { 
    font-size: 48px;
    margin: 0.5rem 0 .75rem 0;
  }
  h2 { font-size: 4rem; }
  h3 { font-size: 24px; }
  h4 { font-size: 1.56rem; }
  h5 { font-size: 1.32rem; }
  p { font-size: 1rem; }
  h6 { font-size: 12px;}

  .titler {
    width: max-content;
    padding: 16px 32px;
    box-shadow: 6px 5px 12px #171717;
  }

  .titler:hover {
    box-shadow: 6px 5px 12px #171717 inset;
  }

}

@media screen and (max-width: 640px) {

 h1 { 
    font-size: 32px;
    margin: 0.5rem 0 .75rem 0;
  }
 h2 { font-size: 2.4rem; }
 h3 { font-size: 24px; }
 h4 { font-size: 1.32rem;}
 h5 { font-size: 1.32rem;}
 h6 { font-size: 12px;}
 p { font-size: 1rem; }
 small { font-size: 12px; }

 .titler {
  width: 100vw;
  padding: 16px 32px;
  box-shadow: 6px 5px 12px #171717;
}

}

/**************************************************************************************
BRAINS
************************************************************************************/


    .brainContainer{
        width:50vw;
        height:50vw;
        max-height:400px;
        max-width:400px;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        overflow:hidden;
        cursor:pointer;
        z-index:-1;
    }
    svg{
        height:100%;
        width:100%;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    path{
      fill:transparent;
    }
    .brainPath{
      stroke:#00ff00;
      stroke-width:1;
    }
    .brainCircle{
      stroke:#00FF00;
      fill:#00FF00;
    }
    .brainRect{
      stroke:#00FF00;
      fill:#00FF00;
    }
    .brainEllipse{
      stroke:#00FF00;
      fill:#00FF00;
    }
    .animatePaths{
      animation: goPath 3000ms alternate infinite;
    }
    .animateCircles{
      animation: goCircle 3000ms alternate infinite;
    }
    .animateRects{
      animation: goRect 3000ms alternate infinite;
    }
    @keyframes goPath {
      to {
        stroke-dashoffset: 0;
      }
    }
    @keyframes goRect {
      to {
        opacity:0;
      }
    }
    @keyframes goCircle {
      0% {
        opacity:0;
      }
      50% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }